
    <app-menu-navigation></app-menu-navigation>
    <footer id="footer">
      <div class="bottom">
          <div class="sep"></div>
          <div class="container">
              <div class="col grid6 copyright">&copy; <script>var CurrentYear = new Date().getFullYear(); document.write(CurrentYear)</script> USLI
              </div>
              <div class="col grid6">
                  <p class="right-side"><a href="#logo" id="top-link" class="button light"><i class="bi bi-arrow-up"></i></a></p>
              </div>
          </div>
      </div>
    </footer>

